<!DOCTYPE html>
<html>
<head>
    <title>Academics</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/certifications">Certifications</a></li>
            <li><a href="/social-media">Social Media</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/love-it">I Love It</a></li>
        </ul>
    </nav>
</header>
<section>
    <h1>Academics</h1>
    <ul>
        <li th:each="academic : ${details.academics}">
            <span th:text="${academic}">Academic Detail</span>
        </li>
    </ul>
</section>
</body>
</html>
