<!DOCTYPE html>
<html>
<head>
    <title>Social Media</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/certifications">Certifications</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/love-it">I Love It</a></li>
            <li><a href="/academics">Academics</a></li>
        </ul>
    </nav>
</header>
<section>
    <h1>Social Media</h1>
    <ul>
        <li th:each="link : ${details.socialMedia}">
            <a th:href="${link}" th:text="${link}">Social Media Link</a>
        </li>
    </ul>
</section>
</body>
</html>
